<IfModule mod_rewrite.c>
   RewriteEngine on
   # FILL ME IN
   RewriteBase    /~loffelmr/databases/2011-3-2/store/
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>