<IfModule mod_rewrite.c>
    RewriteEngine On
	# FILL ME IN
	RewriteBase    /~loffelmr/databases/2011-3-2/store/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>